@font-face {
    src: url("CursedTimerUlil-Aznm.ttf");
    font-family: 'Game';
}
    
body {
    margin: 0;
    background-color: #0A1045;
}

.container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.score {
    text-align: center;
    color: white;
    font-size: 30px;
    margin-bottom: 5px;
}

.points{
    font-family: Game;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    background-color: black;
    width: 150px;
    height: 80px;
    border-radius: 6px;
    margin-top: 1px;
    margin-bottom: 30px;
}

.buttons{
    font-family: Game;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button{
    font-family: Game;
    border-radius: 6px;
    border: 1px solid white;
    color: aliceblue;
    height: 40px;
    width: 40px;
    background-color: transparent;
}